__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/

.ipynb_checkpoints/
*.ipynb_checkpoints

.vscode/
.idea/

#data/*.csv
data/*.json

models/*.joblib
models/*.pkl
!models/metadata.json

.DS_Store
Thumbs.db

.streamlit/secrets.toml

*.log